/* Main Styles */

body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	font-family: Helvetica, Helvetica, Arial, sans-serif;
	color: #ffffff;
	background-color: #202020;
}

footer {
	text-align: center;
	padding: 10px;
	background-color: #0f0f0f;
	color: #ffffff;
}

footer p {
	margin: 0;
}

/* Featured Styles */

.feeturedItem {
	display: flex;
}

.left {
	float: left;
}

.right {
	display: flex;
	flex-direction: column;
	float: right;
	justify-content: center;
	width: calc(30% - 20px);
}

.feeturedItem img {
	border-radius: 15px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
	margin: 10px;
	width: 70%;
}

/* Hero Styles */

.hero {
	position: relative;
	width: 100%;
	height: 100vh;
	overflow: hidden;
}

.heroImg {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 100%;
	height: 100%;
	object-fit: cover;
	transform: translate(-50%, -50%);
	z-index: -1;
}

.heroOverlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.5);
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
}

.heroContent {
	padding: 5px;
}

.heroContent h1 {
	font-size: 5em;
	margin-bottom: 20px;
}

/* Button Styles */

.btn {
	display: inline-block;
	padding: 10px 20px;
	background: #007aff;
	color: #fff;
	text-decoration: none;
	border-radius: 15px;
	font-size: 1em;
	border-color: #00000000;
	border-width: 2px;
	border-style: solid;
	width: fit-content;
}

.btn:hover {
	background: #00000000;
	border-color: #007aff;
	border-width: 2px;
	border-style: solid;
}

/* Misc Styles */

section h2 {
	font-size: 2em;
	margin-bottom: 20px;
}
